.headerrow{
  display: flex;
}
.headerrow1{
  display: flex;
  margin-left: 500px;
}

.headerhome{
  display: flex;
}

.headerhome2{
  display: flex;
  margin-left: 300px;
}
.theade{
 background-color: rgb(64, 64, 220) !important;
}


.headerrrow2{
  display: flex;
  
}

.hightlight{
border: 1px solid !important;
border-radius: 2px !important;
}